.body{
    background: linear-gradient(to right,#0f2037,#203a43,#2c5364);
    font-family: 'poppins',sans-serif;
}

.body1{
    background: linear-gradient(to right,#a04b87,#5f486e,#5e2b62);
    font-family: 'poppins',sans-serif;
}


.pcolor{
    color: #c4b9b9;
    margin: 20vh auto 0 auto;
    padding-left: 450px;
}

#form{
    width: 700px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    padding-left: 90px;
    background-color: white;
    border-radius: 4px;
    font-size: 13px;
}
#form1{
    width: 500px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    padding-left: 90px;
    background-color: white;
    border-radius: 4px;
    font-size: 13px;
}

#form h1{
    color: #0f2037;
    padding: auto;
}

#form button{
    padding: 10px;
    margin-top: 25px;
    width: 68%;
    color: gray;
    background-color: indigo;
    border: none;
    border-radius: 4px;
    
}
#form1 button{
    padding: 10px;
    margin-top: 25px;
    width: 68%;
    color: gray;
    background-color: indigo;
    border: none;
    border-radius: 4px;
    
}


.input-control{
    display: flex;
    flex-direction: column;
    width: 68%;
}

.param label{
   
    display: flex;
    flex-direction: column;
    width: 68%;
     
    
}
.param input{
    display: inline-block;
    
    border: 2px solid #c4b9b9;
    border-radius: 4px;
   width: 65%;
    font-size: 13px;
    padding: 10px;
}
.param p{
    display: inline-block;
    
     
    
}




.input-control input{
    border: 2px solid #c4b9b9;
    border-radius: 4px;
    display: block;
    font-size: 13px;
    padding: 10px;
   
}
.param input:focus{
    outline: 0;
}

.input-control input:focus{
    outline: 0;

}
.param.success input{
    border-color: lawngreen;
}

.param.error input{
    border-color: lightcoral;
}

.param .error{
    color: lightcoral;
    font-size: 10px;
    height: 14px;
}

.input-control.success input{
    border-color: lawngreen;
}

.input-control.error input{
    border-color: lightcoral;
}

.input-control .error{
    color: lightcoral;
    font-size: 10px;
    height: 14px;
}